footer.footer(data-screen-name="footer")
    .container
        .footer__content
            .footer__info
                .footer__copyright !{ lang.footerCopyright }
                a.footer__link(href=lang.footerEmail.link) !{ lang.footerEmail.text }
                .social-links.footer__social-links
                    .social-links__list.social-links__list--content-end
                        a.social-links__link(href="https://www.facebook.com/profile.php?id=100048680096121" target="_blank" aria-label="Facebook")
                            svg(width="10" height="20" viewBox="0 0 10 20")
                                path(d="M0 10.5391H2.41723V19.5241C2.41723 19.5241 2.55601 19.5241 2.72729 19.5241H6.30009C6.47136 19.5241 6.61014 19.5241 6.61014 19.5241V10.58H9.03253C9.19003 10.58 9.30159 10.58 9.30159 10.58L9.76667 6.76613C9.76667 6.76613 9.48886 6.76613 9.4005 6.76613H6.61027V4.76418C6.61027 4.16069 6.9352 3.85467 7.57614 3.85467C7.66749 3.85467 9.71055 3.85467 9.71055 3.85467C9.71055 3.85467 9.71055 3.71583 9.71055 3.54462V0.300781L6.88628 0.303076C6.86854 0.302207 6.82916 0.300781 6.77112 0.300781C6.33488 0.300781 4.81853 0.386418 3.62074 1.48835C2.29359 2.70946 2.47807 4.17154 2.52216 4.42504V6.76607H0C0 6.76607 0 6.90485 0 7.07612V10.229C0 10.4003 0 10.5391 0 10.5391Z")
                        a.social-links__link(href="https://www.instagram.com/mysanta_co/" target="_blank" aria-label="Instagram")
                            svg(width="20" height="20" viewBox="0 0 20 20")
                                path(fill-rule="evenodd" clip-rule="evenodd" d="M10.8238 0.000976562C12.7331 0.00373141 13.1075 0.0176759 14.0393 0.0602578C15.0975 0.108582 15.8201 0.276607 16.4524 0.522326C17.1062 0.776368 17.6605 1.1163 18.2132 1.66896C18.7659 2.22162 19.1058 2.77606 19.3598 3.42977C19.6056 4.06213 19.7737 4.78478 19.8219 5.84291C19.8674 6.83895 19.8802 7.19802 19.8816 9.47601V10.4071C19.8802 12.6852 19.8674 13.0443 19.8219 14.0403C19.7737 15.0984 19.6056 15.8211 19.3598 16.4534C19.1058 17.1071 18.7659 17.6616 18.2132 18.2143C17.6605 18.7669 17.1062 19.1068 16.4524 19.3609C15.8201 19.6066 15.0975 19.7746 14.0393 19.823C13.0754 19.8669 12.708 19.8804 10.6207 19.8825H9.26049C7.1732 19.8804 6.80576 19.8669 5.84184 19.823C4.78372 19.7746 4.06107 19.6066 3.42875 19.3609C2.775 19.1068 2.22064 18.7669 1.66798 18.2143C1.11532 17.6616 0.775391 17.1071 0.52135 16.4534C0.275544 15.8211 0.107519 15.0984 0.0592378 14.0403C0.0166941 13.1085 0.00275429 12.7342 0 10.8248V9.05839C0.00275429 7.14904 0.0166941 6.77469 0.0592378 5.84291C0.107519 4.78478 0.275544 4.06213 0.52135 3.42977C0.775391 2.77606 1.11532 2.22162 1.66798 1.66896C2.22064 1.1163 2.775 0.776368 3.42875 0.522326C4.06107 0.276607 4.78372 0.108582 5.84184 0.0602578C6.77363 0.0176759 7.14805 0.00373141 9.05741 0.000976562H10.8238ZM15.37 3.44161C14.6943 3.44161 14.1465 3.98939 14.1465 4.66513C14.1465 5.34083 14.6943 5.88866 15.37 5.88866C16.0458 5.88866 16.5936 5.34083 16.5936 4.66513C16.5936 3.98939 16.0458 3.44161 15.37 3.44161ZM9.94063 4.58866C6.98429 4.58866 4.58769 6.98527 4.58769 9.94161C4.58769 12.898 6.98429 15.2945 9.94063 15.2945C12.897 15.2945 15.2936 12.898 15.2936 9.94161C15.2936 6.98527 12.897 4.58866 9.94063 4.58866ZM9.94063 13.3828C8.0401 13.3828 6.49945 11.8421 6.49945 9.94161C6.49945 8.04108 8.0401 6.50043 9.94063 6.50043C11.8412 6.50043 13.3818 8.04108 13.3818 9.94161C13.3818 11.8421 11.8412 13.3828 9.94063 13.3828Z")
            .footer__img
                +picture('/static/img/footer/deer', 'png', '', 293, 280, true)
            .footer__right
                ul.footer__menu
                    li.footer__menu-item
                        a.footer__menu-link(href=lang.footerAgreement.link) !{ lang.footerAgreement.text }
                    li.footer__menu-item
                        a.footer__menu-link(href=lang.footerTerms.link) !{ lang.footerTerms.text }
                    li.footer__menu-item
                        a.footer__menu-link(href=lang.footerRefund.link) !{ lang.footerRefund.text }