footer.footer
    .container
        .footer__content
            .footer__info
                .footer__copyright !{ lang.footerCopyright }
                a.footer__link(href="mailto:hello@mysanta.ru") hello@mysanta.ru
                .social-links.footer__social-links
                    .social-links__list.social-links__list--content-end
                        a.social-links__link(href="https://www.facebook.com/profile.php?id=100048680096121" target="_blank")
                            +icon('facebook', 'social-links__icon')
                        a.social-links__link(href="https://www.instagram.com/mysanta_co/" target="_blank")
                            +icon('instagram', 'social-links__icon')
            .footer__img
                +picture('assets/img/footer/deer', 'png', '', 293, 280, true)
            .footer__right
                ul.footer__menu
                    li.footer__menu-item
                        a.footer__menu-link(href=lang.footerAgreement.link) !{ lang.footerAgreement.text }
                    li.footer__menu-item
                        a.footer__menu-link(href=lang.footerTerms.link) !{ lang.footerTerms.text }
                    li.footer__menu-item
                        a.footer__menu-link(href=lang.footerRefund.link) !{ lang.footerRefund.text }