header.header(class=headerClass)
	.header__content
		a.logo.header__logo(href="./index" class="logo--" + selectedLang aria-label="Logo")

		.menu.header__menu
			.menu__content 
				ul.menu__list
					li.menu__item
						a.menu__link(href=lang.menuRules.link) !{lang.menuRules.text}
				.menu__profile
					a.btn.menu__profile-btn.menu__profile-btn--login(href="./login") !{lang.menuLogin}
					a.btn.menu__profile-btn(href="./login") !{lang.menuCreate}
				+picture('assets/img/menu-santa', 'png', 'menu__img', 147, 170, true)
			button.menu__toggle(aria-label="Toggle menu")
				span.menu__lines