extends layouts/_panel.pug

block vars
    - var selectedLang = 'ru';
    - var pageUrl = '';

block title
    | !{lang.homePageTitle}

block description
    meta(name="description" content=lang.homePageDescription)
    link(rel='canonical' href=lang.websiteDomain + pageUrl)

block og
    meta(name="og:title" content=lang.homePageTitle)
    meta(name="og:description" content=lang.homePageDescription)
    meta(name="og:type" content="website")
    meta(name="og:locale" content=selectedLang)

    meta(name="og:url" content=lang.websiteDomain + pageUrl)
    meta(name="og:image" content=lang.websiteDomain + "/static/img/" + selectedLang + "/og_image.jpg")

    meta(name="twitter:title" content=lang.homePageTitle)
    meta(name="twitter:description" content=lang.homePageDescription)
    meta(name="twitter:card" content="summary_large_image")

    meta(name="twitter:url" content=lang.websiteDomain + pageUrl)
    meta(name="twitter:image" content=lang.websiteDomain + "/static/img/" + selectedLang + "/og_image.jpg")


block content
    .login
        .login__content
            a.link.link--white.link--medium.link--flex.login__back(href="main-screen.html") 
                svg(svg class="link__back" width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M9.5 17.7L1 9.39999L9.5 1" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
                span !{lang.login_back}
            h1.panel-title1.login__title !{lang.login_title}
            .login__footer.login__footer--mt-350
                button.btn.btn--panel.btn--white.btn--flex.login__btn
                    svg(width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg")
                        path(fill-rule="evenodd" clip-rule="evenodd" d="M12.8563 4.90634C9.87927 2.11835 5.43738 4.00851 4.39779 7.26905L1.42077 4.9536C4.5868 -1.04769 11.7694 -1.18945 15.4553 2.35462L12.8563 4.90634ZM4.39779 7.26908C4.01976 8.45042 4.01976 9.53726 4.39778 10.7186L4.39779 10.7186C5.81541 14.5934 9.97378 15.2077 12.4783 13.5538L12.4783 13.5539C13.4234 12.9396 14.0849 11.9945 14.2739 10.8604H9.454V7.36359H17.9125C18.4796 10.5296 17.5345 13.8374 15.408 15.8221L15.408 15.8221C14.3644 16.7147 13.1317 17.3587 11.803 17.7057C10.4743 18.0526 9.0841 18.0934 7.73731 17.8249C6.39051 17.5565 5.12223 16.9858 4.02807 16.1559C2.93391 15.326 2.04242 14.2586 1.42079 13.0341L1.42078 13.0341C0.00315085 10.1988 0.33393 7.12732 1.42078 4.95363L4.39779 7.26908Z" fill="#F74F4F")
                    span !{lang.login_btnGoogle}
                a.btn.btn--panel.btn--light-white.login__btn(href="login-2.html")  Другие варианты
                .panel-text.login__agreement !{lang.login_agreement}
        +picture('static/img/login', 'png', 'login__img', 282, 327, false)
                