extends layouts/_layout.pug

block vars
	- var selectedLang = 'ru';
	- var pageUrl = '/refund_policy';	
	- var headerClass = 'header--black';

block title
	| !{lang.refundPolicyPageTitle}

block description
	meta(name="description" content=lang.refundPolicyPageDescription)
	link(rel='canonical' href=lang.websiteDomain + pageUrl)

block og
	meta(name="og:title" content=lang.refundPolicyPageTitle)
	meta(name="og:description" content=lang.refundPolicyPageDescription)
	meta(name="og:type" content="website")
	meta(name="og:locale" content=selectedLang)

	meta(name="og:url" content=lang.websiteDomain + pageUrl)
	meta(name="og:image" content=lang.websiteDomain + "/static/img/" + selectedLang + "/og_image.jpg")

	meta(name="twitter:title" content=lang.refundPolicyPageTitle)
	meta(name="twitter:description" content=lang.refundPolicyPageDescription)
	meta(name="twitter:card" content="summary_large_image")

	meta(name="twitter:url" content=lang.websiteDomain + pageUrl)
	meta(name="twitter:image" content=lang.websiteDomain + "/static/img/" + selectedLang + "/og_image.jpg")


block content
	main.main
		.terms-info
			.container
				.terms-info__main !{ lang.refundPolicyContent }