mixin icon(name, className = '')
    svg(class='icon ' + className)&attributes(attributes)
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/icons/icons.svg#" + name)

mixin picon(name)
    span(class='picon picon-' + name)

mixin picture(src, fileType, className, width, height, alt="")
    picture&attributes(attributes)
        source(srcset=src + ".webp" type="image/webp")
        source(srcset=src + "." + fileType type="image/" + fileType)
        img(class=className src=src + "." + fileType width=width height=height alt=alt)