mixin icon(name, className = '')
    svg(class='icon ' + className)&attributes(attributes)
        use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href="assets/icons/icons.svg#" + name)

mixin picon(name)
    span(class='picon picon-' + name)

mixin picture(src, fileType, className, width, height, retina = false, alt="")
    picture&attributes(attributes)
        if retina
            source(srcset=src + ".webp, " + src + "@2x.webp 2x"  type="image/webp")
            source(srcset=src + "." + fileType + ", " + src + "@2x." + fileType + ' 2x' type="image/" + fileType)
            img(class=className src=src + "." + fileType srcset=src + "@2x." + fileType + ' 2x' width=width height=height alt=alt)
        else
            source(srcset=src + ".webp" type="image/webp")
            source(srcset=src + "." + fileType type="image/" + fileType)
            img(class=className src=src + "." + fileType width=width height=height alt=alt)